<h3>Add a new restaurant</h3>
<form action="">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" data-ng-model="restaurant.name" class="form-control" id="inputName" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" data-ng-model="restaurant.addr" class="form-control" id="inputAddress" placeholder="Enter address">
  </div>
  <div class="form-group">
    <label for="inputLong">Longitude</label>
    <input type="text" data-ng-model="restaurant.longitude" class="form-control" id="inputLong" placeholder="Enter longitude">
  </div>
  <div class="form-group">
    <label for="inputLati">Latitude</label>
    <input type="text" data-ng-model="restaurant.latitude" class="form-control" id="inputLati" placeholder="Enter latitude">
  </div>
  <div class="form-group">
    <label for="inputMgrName">Manager's name</label>
    <input type="text" data-ng-model="restaurant.managerName" class="form-control" id="inputMgrName" placeholder="Enter manager's name">
  </div>
  <div class="form-group">
    <label for="inputMgrPwd">Manager's password</label>
    <input type="password" data-ng-model="restaurant.managerPwd" class="form-control" id="inputMgrPwd" placeholder="Enter manager's password">
  </div>
  <button type="submit" data-ng-click="add(restaurant)" class="btn btn-primary">Save</button>
  <button type="reset" data-ng-click="reset()" class="btn">Reset</button>

  {{restaurant | json}}
</form>