<% include header %>
<div id="main" class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Tables</li>
    </ol>
  </div>

  <section class="data-editor">
    <ul class="data-editor-header">
      <li>Table Number</li>
      <li>Capacity</li>
    </ul>
    <div class="data-editor-row">
      <input type="text" class="data-editor-input" placeholder="table number" name="tbl_number">
      <input type="number" class="data-editor-input" placeholder="capacity" name="tbl_capacity">
    </div>
    <ul class="data-editor-footer">
      <li><button id="btn-save" class="btn btn-primary" data-loading-text="Waiting...">Save</button></li>
      <!-- <li><button class="btn btn-default">Reset</button></li> -->
    </ul>
  </section>

  <script type="text/javascript">

function addTable(table) {
  var lastRow = $('.data-editor-row:last');
  var newRow = lastRow.clone();
  
  if (table) {
    newRow.find('input[name="tbl_number"]').val(table.table_number).end()
          .find('input[name="tbl_capacity"]').val(table.capacity).end();

    $('<input type="hidden" name="tbl_id">').val(table.tbl_id).appendTo(newRow);
  
  } else {
    $('<a class="data-editor-remove"><span class="glyphicon glyphicon-remove"></span></a>')
      .click(function (e) {
        e.preventDefault();
        $(this).parent().remove();
      })
      .appendTo(newRow);
  }

  newRow.insertBefore(lastRow);
  return newRow;
}

function loadTablesFromServer() {
  $.get('/api/tables')
    .done(function (data) {
      $.each(data, function (index, table) {
        addTable(table);
      });
    })
    .fail(showError);
}

function bindEventToLastRow() {
  var lastRow = $('.data-editor-row:last');

  lastRow.find('input[name="tbl_number"]').bind('focus', function () {
    var newRow = addTable();
    newRow.find('input[name="tbl_number"]').focus();
  });

  lastRow.find('input[name="tbl_capacity"]').bind('focus', function () {
    var newRow = addTable();
    newRow.find('input[name="tbl_capacity"]').focus();
  });
}

$(document).ready(function () {
  loadTablesFromServer();
  bindEventToLastRow();

  $('#btn-save').click(function (e) {
    e.preventDefault();

    var btn = $(this);
    btn.button('loading');
    
    // get values of current tables
    var newTables = [];
    $('.data-editor-row:not(:last)').each(function (index) {
      var table = {
        'table_number': $(this).find('input[name="tbl_number"]').val(),
        'capacity': $(this).find('input[name="tbl_capacity"]').val()
      };
      var possible_input_id = $(this).find('input[name="tbl_id"]');
      if (possible_input_id.length) {
        table.tbl_id = possible_input_id.val();
      }

      newTables.push(table);
    });

    // make requeset
    $.ajax({
      type: "POST",
      url: '/api/tables',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify(newTables)
    })
    .done(function (data) {
      // remove old data
      $('.data-editor-row:not(:last)').remove();
      // render new data
      $.each(data, function (index, table) {
        addTable(table);
      });
      showSuccess();
    })
    .fail(showError)
    .always(function () {
      btn.button('reset');
    }); // end ajax
  }); // end click handler

});
  </script>
</div>
<% include footer %>